<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet"
    href={{url_for('static',filename='after_rainy.css')}}>
    <title>Red Zone</title>
  </head>
  <body>
    <h1 style="text-align: center; font-size: 3 rem; font-weight: bolder">
      Red Zone
    </h1>
    <div class="rainyimg">
      <img
        src="../static/rainy.jpg"
        alt="Vasanth"
        style="height: 550px; width: 550px; margin-left: 32%"
      />
    </div>
    <div>
      <h2>
        <center>
          The area happens to be in the
          <span style="font-style: italic; font-weight: bolder">red zone.</span
          > Implementation of green infrastructure to mitigate  impacts ofcarbon emission is required.
          Here are a list of few suggestions which can be implemented.
          <ol>
          <li>Transition to renewable energy sources: By shifting from fossil fuels to renewable energy sources such as wind, solar, and
            geothermal power, we can reduce carbon emissions and slow down climate change.</li>
          <li>Energy efficiency measures: Implementing energy efficiency measures such as improving building insulation, using energy-efficient appliances, and
            reducing energy waste can help reduce energy consumption and associated carbon emissions.</li>
            <li>Carbon pricing: A carbon tax or cap-and-trade system can
              incentivize companies to reduce their carbon emissions and invest in clean energy technologies.</li>
              <li>Forest conservation and reforestation: Forests absorb carbon dioxide from the atmosphere and store it in their biomass.
                 Therefore, protecting forests and planting new trees can help mitigate carbon emissions.</li>
                 <li>Transportation alternatives: Encouraging the use of public transportation, electric vehicles, and active transportation such as cycling
                   and walking can help reduce emissions from transportation.</li>
                   <li>Carbon capture and storage: Technologies such as carbon capture and storage (CCS) can help capture carbon dioxide emissions from
                     industrial processes and store them underground or repurpose them.</li>
                <li>Agriculture and food systems: Changes in agricultural practices, such as reducing meat consumption and adopting regenerative agriculture practices,
                   can help reduce carbon emissions and promote sustainable food systems.</li>
                   <li>Education and awareness: Education and awareness campaigns can encourage individuals and organizations
                     to adopt sustainable practices and reduce their carbon footprint.</li>     
          </ol>
        </center>
      </h2>
    </dred zone.
  </body>
</html>
